<div class="aside-wrap">
    <div class="navi-wrap">
        <nav ui-nav class="navi clearfix">
            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>Navigation</span>
                </li>
                <li ng-class="{active:$state.includes('layout.statusList')}">
                    <a ui-sref="layout.statusList" tooltip-placement="right" tooltip="News Feed">
                        <i class="fa fa-home"></i>
                        <span class="font-bold">News Feed</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>